body {
    background-color: #c5cddb;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    text-transform: capitalize;
    // display: block;
    img{
        max-width: fit-content;
    }
}
nav {
    background-color: #ffffff;
    height: 150px;
    align-content: center;
    
}
//logo nav
.logo {
    width: 45%;
}
//liens nav
.liens {
    gap: 1rem;
    padding: 50px;
    display: flex;
    a {
        text-decoration: none;
        color: #000;
        font-size: 26px;
        &:hover{
            color: blue;
        }
    }    
}
//ma classe flex
is-flex {
    display: flex;
    gap: 1rem;
}
//les boutons du haut de la page
.mesbtns {
    justify-content: center;
    margin-bottom: 30px;
}
//wrapper de grid
.porte {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    aspect-ratio: 1/1;
    font-weight: 500;
    color: gray;
    font-size: 28px;
    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    p:first-of-type{
        color: #0744af;
        max-width: fit-content;
        &:hover {
            border-bottom: 3px solid black;
            color:black;
        }
    }
    
    
}
.champions {
    img{
        &:hover{
            // 
        }
    }
}
//bouton blanc /gris
.btn-wb {
    color: gray;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    width: 5%;
    padding: 5px 5px;
    &:hover{
    background-color: #0744af;
    color: white;
    border: 1px solid #0744af;
    }
}



footer {
    color: #555;
}    

@media screen and (min-width:960px){
    
  }
  
@media screen and (min-width:576px) and (max-width:960px){
    
 }